

#monmenu{
margin: 0px;
padding: 0px;
background-color: none; 

}

#monmenu:hover {


}

#menu{
  position: left;
}

#menu #menu ul{
margin: 0px;
padding: 0px;
list-style-type: none;

}

#menu li{

  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  background: radial-gradient(ellipse closest-side, black,
  black 10%, #3366FF 50%, white);
 
}

#menu a{
    display: block;
    text-decoration: none;
    width: 150px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    padding: 0px;
    min-width:50px;
    color: white;
  }

  /*decaler tous les sous menu**/
#menu li ul{
    position: absolute;
    left: -5000px;
    margin: 0px;
    padding: 0px;
    border-radius: 10%;
     
  }

  /*si un lien est survolé et qui contien des liens */
  @media only screen and (max-width: 1800px) {

#menu li:hover >ul{
    left:  0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    min-width:50px;
    border-radius: 10%;
    

    
  }}
  
  /*si un lsou lien  est survolé et qui contien des liens*/
#menu li li:hover >ul{
     left: 160px;
     top: 0px;
     margin: 0px;
     padding: 0px;
     min-width:50px;
     border-radius: 10%;
     transform: skew(25deg);

  }
  
@media only screen and (max-width: 1800px) {

#menu li:hover  /*quelque soit le menu survolÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© faire ses actions*/
  {
    
    background: radial-gradient(ellipse closest-side, blue,
    blue 10%, #330033 25%, red);
    cursor: pointer;
    min-width:50px;

  }
}
@media only screen and (max-width: 550px) {
  #menu a{
    display: block;
    text-decoration: none;
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    padding: 0px;
    min-width:50px;
  }
   #menu li:hover >ul{
    left: 0px;
    margin: 0px;
    padding: 0px;
    top: 35px;
    position: absolute;
    cursor: pointer;
    min-width:30px;
    border-radius: 10%;
    float: right;
     

  }
  #menu li li a{
    display: block;
    text-decoration: none;
    width: 100px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    padding: 0px;
    min-width:50px;
  }
}

.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
