html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output,  ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  display:block;
}

body {
  
   
   
   
}
#content {
    margin-left: 0px;
    padding: 0px;
     
   min-height: 500px;
    
}
.contentPage{
  margin-top:13%; 
}
#footer {
    
    background-color: black;
    /*opacity: 0.8;*/
    background-image:url("image/facebook.png");     color: white;
   
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 300px;
    }

.entete{
 /*background: repeating-linear-gradient(
    -45deg, #CCFF00, #3399FF 15px, white 5px, 50px,white 10px);*/
 
 box-shadow: 1px 1px 12px #555;
background-color: white;
}
html {
  overflow-y: scroll;
}
 
#headerrigh{
    border-left:200px solid transparent;
    /*border-bottom: 30px solid color( right, red, yellow);
    background:linear-gradient(top, blue, white); */
    width: 50%;
    display: inline-block;
    float: right;
    position: relative;
    padding:0px;
    margin: 0px;
    background-color: #3366FF;

}


#header > h2 {
    padding: 16px;
    text-align: center; 
}
.headerall{
  background-color: red;
  width: 100%;
  height: 10px;
}
 
#header {
   /*border-top: 30px solid black;*/
    width: 100%;
    display: inline-block;
    padding:0px;
    margin: 0px;
   float: left;
   
transform: skew(-25deg);
}


.logo{
  display: inline-block;
  float: left;
  width: 20%;
  background-color: #e4daf4;
  padding: 1%;
  margin-left: -3%;

}
.logoImage{
  margin-right: 1%;
  transform: skew(25deg);
  margin-left: 18%;

}
.tel{
  float: left;
 width: 80%;
 display: inline-block;
margin: 0;
padding: 0;
margin-left: 2%;
 margin-bottom: 1%;
}
.adresse{
   display:inline-block;
  float: left;
  width: 80%;
  font-size: 10px;
  padding: 0;
  margin: 0;
  background-color: black;
}
.adresse p{
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: white;
}
.adresse a{
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  display: inline-block;
  float: left;
}
.partarge img{
  float: right;
  color: red;
 width: 30px;
  height: 30px;
  margin-left: 2px;
  
}
.partarge>img+img+img{
  padding-left:3%;
  }
.partarge{

 background-color: black;
 display: inline-block;
 float: left;
 width: 20%;
  padding-right:5%;
  min-height: 41px;

}
.partarge a:hover{
  background: radial-gradient(ellipse closest-side, blue,
    blue 10%, #330033 25%, blue);
}
.login{
  
 
  background-color: #330033;
   display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 1%;
}
.login .form-control{
  display: inline-block;
  float: left;
  height: 20px;
  width: 40%;
  margin: 0;
  padding:0;
}
.login .submitC{
   float: left;
 margin: 0;
 padding: 0:
 height:20px;
 font-weight: 12px;
 font-size:12px;
}
.login .form{
  margin: 0;
  padding: 0;
}
.connexion{
float: left;
display: inline-block;
color: gray;
}
.iconetel{
  border: 8px solid blac;
}
.menu{
 
  display: inline-block;
  background-color: blue;
 ;
 color: white;
 float: right;
 padding: 2px 0px 0px 2px;

}

@media screen and  (max-width: 550px) {
.contentPage{
  margin-top:40%; 
}

.entete{
 /*background: repeating-linear-gradient(
    -45deg, #CCFF00, #3399FF 15px, white 5px, 50px,white 10px);*/
 
 box-shadow: 1px 1px 12px #555;
background-color: white;
}
#header {
   /*border-top: 30px solid black;*/
    width: 100%;
    display: inline-block;
    padding:0px;
    margin: 0px;
   float: left;
transform: skew(-25deg);
}

.adresse p{
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: white;
}
.adresse a{
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: white;
}
.logo{
  display: inline-block;
  float: left;
  width: 20%;
  background-color: #e4daf4;
  padding: 1%;
  margin-left: -2%;

}
.logoImage{
  margin-right: 1%;
  transform: skew(25deg);
  height: 100px;
  width: 100px;
}
.logo img{
  height: 65px;
  width: 65px;
  margin-top: 7%;
}
.partarge{

 background-color: black;
 display: inline-block;
 float:left;
 width: 30%;
  padding-right:0%;
  min-height: 67px;

}
.partarge img{
  float: right;
  color: red;
 width:30px;
  height: 30px;
  margin-left: 2px;
  
}
.tel{
  float: left;
 width: 80%;

}
.adresse{
   display:inline-block;
  float: left;
  width: 70%;
  margin-right: 5 %;
}
.login{
  
 
  background-color: #330033;
   display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 1%;
}
.connexion{
float: right;
display: inline-block;
color: gray;
margin-top: -90px;
}

.menu{
 
  display: inline-block;
  background-color: blue;
 color: white;

}
.title-bar{
  margin-top: -50px; 
  margin-left:  350px;
  float: left; 

}
}
.imgaccueil{
  width: 80%;
  margin-left: 10%;
}


a{
  text-decoration: none;
  text-decoration-style: none;
}
a:first-letter {
    text-transform: uppercase;
}
.imgaccueil{
  cursor: pointer;
  margin-left: 0px;
  position: absolute;
  background-color: red;
}

.animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
#titre{
    font-size : 1em;
    text-align:left; 
    color:white;
    font-family:verdana;

}

p:first-letter{
 font-size : 130%;
 text-transform: capitalize;
 margin-left: 25px;
 
}
h3,h2,h1,h4,h6,h5{
text-transform: capitalize;
}
p{
   text-align:justify;
   font-size: 1px;
   font-family: font;
   
}
h1:first-letter{
  font-size:2em ;
  text-transform: capitalize;
  font-family: font;
}
h3:first-letter{
  font-size:1em ;
  text-transform: capitalize;
  font-family: font;
}.contact{
   /*background: repeating-linear-gradient(
    -45deg, #CCFF00, #3399FF 15px, white 5px, 50px,white 10px);*/

}
.devis{
  background-color: white;
}
.submit{
  background: radial-gradient(ellipse closest-side, white,
  white 10%, white 50%, white);
  color: blue;
  width: 20%;

  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 20px;
}

.submit:hover  /*quelque soit le menu survolÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© faire ses actions*/
  {
    color: red;
    background: radial-gradient(ellipse closest-side, blue,
    blue 10%, #330033 25%, blue);
    cursor: pointer;
    min-width:50px;
    color: white;
   border-radius: 5px;
  }

.acceuil{
  margin-top: 20%;
  height: 600px;
  background-image: url('image/acceuil.jpg');
}

.iconetel{
  width: 30px;
  height: 30px;
  margin:0;
  padding:0;
  float: left;
}

#monmenu{
  float: right; 
}

.immeubleSlide,.solSlide,.commercialSlide,.vitreSlide,.bureauSlide,.poubelleSlide{
  margin-top: 8%;
  background-color: #56b0c6;
  height: 300px;

}

.presentation{
  background-color: #56b0c6;
  margin-bottom: 5%;
  border: 1px solid red;
}
.accueil
{
   background: repeating-linear-gradient(
    -45deg #CCFF00, #3399FF 15px, white 5px, 50px,white 10px);
   width:30%;
   margin: 0 5% 0 10%;

 }
 .service{
  
  background-color: #56b0c6;
 }
 .service a{
  background-color:#FDC0EA;
  text-decoration: none;
  height: 25px;
  color: blue;
 }
 .service li{
  background-color:white;
  height: 30px;
 }
 .titreService{
    font-size : 1em;
    text-align:left; 
    color:white;
    font-family:verdana;
   background: radial-gradient(ellipse closest-side, #0000ff,
    #0000ff 10%,  #0000ff 25%, blue);
   color: white;
 }

 @media only screen and (max-width: 550px) {
  .mailChimAll{
    background-color: #77d3ff;
  }

  .formMailChaim{
    width: 100%;
   
    background-color:blue;
    
  }
  .zone_texte_simple{
 display: inline-block;
 float: left;
 width: 35%;
 font-family: verdana;
 
 font-size: 0.6em;
 background-color: red;
 position: ;
 padding:  0%
 margin:0;
 border: 1px solid red;
  padding-left:  5%;
  font-weight: 100;
  color: white;
  }
  .emailMailChaim{
   
   width:60%;
    font-weight: 40px;
 font-size: 40px;
 margin-top: 3%;
 
  margin-left: 3%;
  }
  
  .submitMailChaim{
   
    width:20%;
    left: :  -1000px;
    border: 0px;
    background-color: red;
    font-family: verdana;
    
 font-size: 1em;
   padding: 2.75%
   
  }
  .zone_form_simple{
      display: inline-block;
     width:80%;
     float: left;
     
  }
 }
 @media only screen and (min-width: 550px) {

  .mailChimAll{
    background-color: #77d3ff;
    background: repeating-linear-gradient(
    -45deg, #CCFF00, #3399FF 15px, white 5px, 50px,white 10px);
  }

  .formMailChaim{
    width: 100%;
    transform: skew(-25deg);
    
    
  }
  .zone_texte_simple{
 display: inline-block;
 
 width: 35%;
 font-family: verdana;
 
 font-size: 30px;
 background-color: red;
 position: ;
 padding:  0%
 margin:0;
 border: 1px solid red;
  padding-left: 5%;
  font-weight: 900;
  color: white;
  }

  .emailMailChaim{
   
   width:60%;
    font-weight: 40px;
 font-size: 40px;
 margin-top: 3%;
 transform: skew(25deg);
  margin-left: 3%;
  }
  
  .submitMailChaim{
    float: left;
    width:20%;
    
    border: 0px;
    background-color:red;
    font-family: verdana;
 
    font-size: 30px;
   
   margin:0;
   padding: 2.75%;
  right: 500px;
  top: 2000px;
  color: white;
   
  }
  .zone_form_simple{
      display: inline-block;
     width:80%;
     float: left;
     
  }
 
}
.partenaire div {
  height: 100px;

}
.inscription{
  background-color:#77d3ff; 
}
.inscription h2{
  text-align: center;
  background-color: #77f3ff;

}
.don{
    text-align: center;
  background-color: #77f3ff;
}
label:first-letter{
    text-transform: uppercase;
}
.submit{
  margin-left: 40%;

}

.lienActuel{
width: 80%;
border: 1 solid red;
color: red;
 
 float: right;
 display: inline-block;
}
.lienActuel a{
  float: left;
 display: inline-block;
margin:0;
padding:0;
text-decoration:none;
}
.lienActuel >a+a{
 margin-top: 0.8%;
}
a:active {
    
}
.contentLeft >div{
  margin-bottom: 2%;

}
.lastEvent div{
  background-color: #f4deca;

}
.lastEvent h4{
  background-color: red;
  text-align: center;
}
.lastEvent p{
  text-align: justify;
}
.actualite{
  background-color: #f0c5d1;
}
.actualite >h2{
  background-color: #f0c5d1;
text-align: center;
}
.actualiteContent {
 border: 1px solid #f0c5d1;
 min-height:100px; 
 background-color: #ffffff;
}

.formIsncription{
  display: none;
}
.inscription{
  cursor: pointer;
}
